.post {
	border: 1px black solid;
	width: 80%;
	padding: 50px;
	margin: 0 auto;
	height: auto;
	overflow-wrap: break-word;
	margin-bottom: 25px;
}

.grid {
	display: flex;
	flex-direction: column-reverse;
}
